.App {
  text-align: center;
}

canvas {
  height: 100vh;
}

.button_close {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  border: none;
  background-color: white;
  border-radius: 100%;
  padding: 1rem;
  cursor: pointer;
}
.button_close:hover {
  transform: scale(1.05);
  transition: ease 0.2s;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}
p {
  margin: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  width: 80px;
  height: 80px;
  border: 10px solid white;
  border-top: 10px solid #f90078;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
  margin: 3rem auto;
}

.gui {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 2rem;
  width: 200px;
  background-color: white;
  border-radius: 5px;
}

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}

.customSlider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
  /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}
